@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MagicServer</h1>
    <p class="lead">Manage Magic Components</p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/magic.gif"/>
    </div>
</div>