.container {
    min-width: 90%;
}
.environment {
    margin-top: 3%;
}

.table.overall {
    margin: 0px;
}


.checkboxes.overall input{
	margin-left: 0px;
}
.checkboxes.overall label{
	width: 100px
}

.checkboxes.step-fltr-btns{
	margin-left: 10px;
	//display: block;
}

.checkboxes.step-fltr-btns input{
	margin-left: 0px;
}
.checkboxes.step-fltr-btns label{
	width: 100px
}



.test-fltr-btns button {
    width: 70px;
}

.test-fltr-btns button.activated {
    border-width: 3px;
    border-color: black;
}

.test-fltr-btn-all {
    background-color: deepskyblue;
}

.test-fltr-btn-psd {
    background-color: greenyellow;
}

.test-fltr-btn-fld{
    background-color: red;
}

.test-fltr-btn-skpd {
    background-color: lightseagreen;
}

.panel-body {
	padding-bottom: 0px;
	padding-top: 0px;
}
.panel-heading > p {
	margin: 0 0 2 0px;
}
.itemInfo {
	color : inherit;
	font-size: inherit;
}
.itemInfo td {
	padding: 0 10 5 0px;
}
.itemInfo tr:first-child {
	font-weight: bold;
	font-size: 20px;
}


.logPanel {
	padding: 0px 15px;
    display: none;
}

.logHeader {
    height: 22px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.logHeader > * {
    float : left;
}

.log-fltr-btn-exp {
    height:20px;
    width:20px;
    margin-top: 3px;
    margin-left: 3px;
}

.log-fltr-btns {
    display: none;
}

.log-fltr-btns button {
    width: 70px;
}

.log-fltr-btns button.activated {
    border-width: 3px;
    border-color: black;
}

.log-fltr-btn-trc {
    background-color: deepskyblue;
}

.log-fltr-btn-dbg {
    background-color: greenyellow;
}

.log-fltr-btn-wrn{
    background-color: orange;
}

.log-fltr-btn-inf {
    background-color: lightseagreen;
}

.log-fltr-btn-err {
    background-color: orangered;
}

.logs {
    clear: left;
    width: 100%;
}

.log {
    margin-bottom: 15px;
    font-size: 14px;
    text-align: justify;
 }

.log-level {
    display: inline-block;
    width: 60px;
	text-align: center;
}

.log-datastemp {
    display: inline-block;
    width: 160px;
}

.image {
	display: none;
}

img {
	max-width: 100%;
	heigth: auto;
}


.logsContainer {
    width: 100%;
}

.logTD{
    width: 90%;
}
.slideupTD {
    width: 2%;
    height: 0;
}

.log-slideup {
    height: 100%;
    width: 100%;
}

.log-slideup:hover {
    background-color: red;
}

.test-slideup {
    height: 100%;
    width: 100%;
}

.test-slideup:hover {
    background-color: red;
}



.step-slideup {
    height: 100%;
    width: 100%;
}

.step-slideup:hover {
    background-color: red;
}

.parentstep-slideup {
    height: 100%;
    width: 100%;
}

.parentstep-slideup:hover {
    background-color: red;
}


.stepHeader {
	margin-bottom: 10px;
}

.step-fltr-btns {
    margin-bottom: 20px;
    display: none;
}


.step-fltr-btns button {
	font-size: 10px;
    width: 90px;
    margin-right: 10px;
    font-weight: bold;
}

.step-fltr-btns button.activated {
    border-width: 3px;
    border-color: black;
}

.step-fltr-btn-all {
    background-color: deepskyblue;
}

.step-fltr-btn-notexctd {
    background-color: lightgray;
}

.step-fltr-btn-psd  {
    background-color: greenyellow;
}

.step-fltr-btn-fld {
    background-color: red;
}

.step-fltr-btn-skpd {
    background-color: lightseagreen;
}

.step-fltr-btn-unkwn {
    background-color: lightgray;
}

.steps {
/*    display: none;*/
/*    margin-left: 5%;*/
}
.tests {
/*    display: none;*/
/*    margin-left: 2%;*/
}

.testpTD {
    width: 100%;
}

.testContainer {
    width: 100%;
   // margin-left: 2%;
    display: none;
}
.stepContainer, .parentStepContainer{
    width: 100%;
	//float: right;
    //margin-left: 5%;
    display: none;
}
.parentStepContainer{
    margin-left: 3%;
    width: 97%;
}

.parentSteps {
	margin-bottom: 20px;
}

.slideupTD .glyphicon-menu-up{
    font-size: 30px;
}
