<?xml version="1.0" encoding="utf-8" ?>
<Project name="TutorialTests" description="Tests for Tutorial page">
  <context>

    <managers>
      <manager type="WebDriverManager">
        <Config>
          <FirefoxWebDriverConfig>
            <ProfileDirectoryPath>c:\tmp\ffprofiles</ProfileDirectoryPath>
          </FirefoxWebDriverConfig>
        </Config>
      </manager>
      <manager type="ApiManager">
        <Config>
          <ApiManagerConfig>
            <username>admin</username>
            <password>admin</password>
          </ApiManagerConfig>
        </Config>
      </manager>
      <manager type="GitHubTutorialManager">
        <Config>
          <GitHubTutorialManagerConfig>
            <TempFolderPath>c:\temp\tutorials</TempFolderPath>
          </GitHubTutorialManagerConfig>
        </Config>
      </manager>
      <manager type="GitManager">
        <Config>
          <GitManagerConfig>
            <Username>ksAutotests</Username>
            <Password>telepuzik1</Password>
            <Email>x1_test1@mail.ru</Email>
          </GitManagerConfig>
        </Config>
      </manager>
      <manager type="AemPageManager"></manager>
      <manager type="LoginPageManager"></manager>
      <manager type="TutorialCatalogPageManager"></manager>
      <manager type="InsertNewComponentFormManager"></manager>
    </managers>

    <contextItems>
      <ContextObjectItem name="LandScape configs">
        <objects>
          <LandscapeConfig uniqueName="Test1">
            <AuthorHostUrl>http://10.7.14.16:4502</AuthorHostUrl>
            <PublisHostUrl>http://10.7.14.16:4502</PublisHostUrl>
          </LandscapeConfig>
        </objects>
      </ContextObjectItem>
    </contextItems>

  </context>

  <Steps>
    <TestStep name="CloneGitRepo" description="Clone Git repository">
      <manager>GitManager</manager>
      <command>Clone</command>
      <order>CasePre</order>
      <args>
        <arg type="Context">GitRepositoryConfig.testRepo1</arg>
      </args>
    </TestStep>
    <TestStep name="GenerateTutorial" description="Generate tutorial to local folder">
      <manager>GitHubTutorialManager</manager>
      <command>GenerateTutorialPage</command>
      <order>CasePre</order>
      <args>
        <arg type="Context">GitHubTutorial.testTutorial1</arg>
      </args>
    </TestStep>
    <TestStep name="CopyTutorialToGitRepository" description="Copy tutorial from local folder to local git repository">
      <manager>GitHubTutorialManager</manager>
      <command>CopyToGitRepository</command>
      <order>CasePre</order>
      <args>
        <arg type="Context">GitHubTutorial.testTutorial1</arg>
        <arg type="Context">GitRepositoryConfig.testRepo1</arg>
      </args>
    </TestStep>
    <TestStep name="UpdateRemoteRepo" description="Update remote Git repository">
      <manager>GitManager</manager>
      <command>CommitAndPushAll</command>
      <order>CasePre</order>
      <args>
        <arg type="Context">GitRepositoryConfig.testRepo1</arg>
        <arg type="Value">Commit git hub tutorial</arg>
      </args>
    </TestStep>
    <TestStep name="CreateAemTutorialPage" description="Create Tutorial page on Author">
      <manager>AemPageManager</manager>
      <command>CreatePage</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">ApiManager</arg>
        <arg type="Context">AemPage.AutotestTutorialPage1</arg>
        <arg type="Context">LandscapeConfig.Test1</arg>
      </args>
    </TestStep>
    <TestStep name="OpenCreatedPageOnAuthor" description="Open created tutorial page on Author">
      <manager>AemPageManager</manager>
      <command>OpenPageOnAuthor</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">WebDriverManager</arg>
        <arg type="Context">AemPage.AutotestTutorialPage1</arg>
        <arg type="Context">LandscapeConfig.Test1</arg>
      </args>
    </TestStep>
    <TestStep name="Login" description="Login to Aem">
      <manager>LoginPageManager</manager>
      <command>Login</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">WebDriverManager</arg>
        <arg type="Value">admin</arg>
        <arg type="Value">admin</arg>
      </args>
    </TestStep>

    <TestStep name="SetUpTutorialCatalogComponent" description="Setup TutorialCatalog component">
      <manager>TutorialCatalogPageManager</manager>
      <command>SetUpTutorialCatalog</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">WebDriverManager</arg>
        <arg type="Context">TutorialCatalogComponentConfig.tccc1</arg>
      </args>
    </TestStep>

    <TestStep name="AddContainerFinder" description="Add Container finder component to Tutorial Catalog page">
      <manager>TutorialCatalogPageManager</manager>
      <command>AddContainerFinderComponent</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">WebDriverManager</arg>
        <arg type="Manager">InsertNewComponentFormManager</arg>
      </args>
    </TestStep>
    <TestStep name="SetUpContainerFinder" description="Setup ContainerFinder component">
      <manager>TutorialCatalogPageManager</manager>
      <command>SetUpContainerFinder</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">WebDriverManager</arg>
        <arg type="Context">ContainerFinderComponentConfig.cfcc1</arg>
      </args>
    </TestStep>

    <TestStep name="AddFinderResults" description="Add Finder results component to Tutorial Catalog page">
      <manager>TutorialCatalogPageManager</manager>
      <command>AddFinderResultsComponent</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">WebDriverManager</arg>
        <arg type="Manager">InsertNewComponentFormManager</arg>
      </args>
    </TestStep>
    <TestStep name="SetUpFinderResults" description="Setup FinderResults component">
      <manager>TutorialCatalogPageManager</manager>
      <command>SetUpFinderResults</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">WebDriverManager</arg>
        <arg type="Context">FinderResultsComponentConfig.frcc1</arg>
      </args>
    </TestStep>

    <TestStep name="AddFacets" description="Add Facets component to Tutorial Catalog page">
      <manager>TutorialCatalogPageManager</manager>
      <command>AddFacetsComponent</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">WebDriverManager</arg>
        <arg type="Manager">InsertNewComponentFormManager</arg>
      </args>
    </TestStep>
    <TestStep name="SetUpFacets" description="Setup Facets component">
      <manager>TutorialCatalogPageManager</manager>
      <command>SetUpFacets</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">WebDriverManager</arg>
        <arg type="Context">FacetsComponentConfig.fcc1</arg>
      </args>
    </TestStep>

    <TestStep name="ActivatePage" description="Activate Tutorial page">
      <manager>AemPageManager</manager>
      <command>ActivatePage</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">ApiManager</arg>
        <arg type="Context">AemPage.AutotestTutorialPage1</arg>
        <arg type="Context">LandscapeConfig.Test1</arg>
      </args>
    </TestStep>
  </Steps>
  
  <Tests>

    <TestCase name="CreateSimpleTutorial" description="Create simple tutorial page">

      <context>
        <contextItems>
          <ContextObjectItem name="GitRepositories configs">
            <objects>
              <GitRepositoryConfig uniqueName="testRepo1">
                <RemoteRepository>https://github.com/ksAutotests/TutorialTest</RemoteRepository>
                <LocalRepository>c:\tmp\localgitrepo</LocalRepository>
              </GitRepositoryConfig>
            </objects>
          </ContextObjectItem>
          <ContextObjectItem name="GitHubTutorials config">
            <objects>
              <GitHubTutorial UniqueName="testTutorial1">

                <Folder>tutorials</Folder>

                <GitHubTutorialItems>

                  <GitHubTutorialItem>
                    <FolderName>tutorial1</FolderName>
                    <GitHubTutorialFiles>
                      <GitHubTutorialFile>
                        <Name>tutorial1test1</Name>
                        <Title>Some_tutorial1test1_Title</Title>
                        <Description>Some tutorial1test1 description</Description>
                        <Tags>
                          <tag>tag1</tag>
                          <tag>tag2</tag>
                          <tag>tag3</tag>
                        </Tags>
                        <Content>Some tutorial1test1 content</Content>
                      </GitHubTutorialFile>
                      <GitHubTutorialFile>
                        <Name>tutorial1tes2</Name>
                        <Title>Some_tutorial1tes2_Title</Title>
                        <Description>Some tutorial1tes2 description</Description>
                        <Tags>
                          <tag>tag1</tag>
                          <tag>tag2</tag>
                          <tag>tag3</tag>
                        </Tags>
                        <Content>Some tutorial1tes2 content</Content>
                      </GitHubTutorialFile>
                    </GitHubTutorialFiles>
                  </GitHubTutorialItem>

                  <GitHubTutorialItem>
                    <FolderName>tutorial2</FolderName>
                    <GitHubTutorialFiles>
                      <GitHubTutorialFile>
                        <Name>tutorial2test1</Name>
                        <Title>Some_tutorial2test1_Title</Title>
                        <Description>Some tutorial2test1 description</Description>
                        <Tags>
                          <tag>tag1</tag>
                          <tag>tag2</tag>
                          <tag>tag3</tag>
                        </Tags>
                        <Content>Some tutorial2test1 content</Content>
                      </GitHubTutorialFile>
                      <GitHubTutorialFile>
                        <Name>tutorial2tes2</Name>
                        <Title>Some_tutorial2tes2_Title</Title>
                        <Description>Some tutorial2tes2 description</Description>
                        <Tags>
                          <tag>tag1</tag>
                          <tag>tag2</tag>
                          <tag>tag3</tag>
                        </Tags>
                        <Content>Some tutorial2tes2 content</Content>
                      </GitHubTutorialFile>
                    </GitHubTutorialFiles>
                  </GitHubTutorialItem>

                </GitHubTutorialItems>

              </GitHubTutorial>
            </objects>
          </ContextObjectItem>
          <ContextObjectItem name="AemPages configs">
            <objects>
              <AemPage uniqueName="AutotestTutorialPage1">
                <title>KsAutoTestTutorialTry</title>
                <parentPath>/content/sapdx/website/languages/en/developer</parentPath>
                <template>/apps/sapdx/templates/tutorial/tutorialPage</template>
              </AemPage>
            </objects>
          </ContextObjectItem>
          <ContextObjectItem name="Components configs">
            <objects>

              <FinderResultsComponentConfig uniqueName="frcc1">
                <Pagination>5</Pagination>
                <ShowDescription>True</ShowDescription>
                <DefaultDocumentIcon>/content/dam/application/shared/icons/finder</DefaultDocumentIcon>
                <DefaultPageIcon>/content/dam/application/shared/icons/icon_gold_document_nopadding.svg</DefaultPageIcon>
                <DefaultVideotIcon>/content/dam/application/shared/icons/finder</DefaultVideotIcon>
                <AlphabeticalSorting>Both</AlphabeticalSorting>
                <SortingByDate>Both</SortingByDate>
              </FinderResultsComponentConfig>

              <FacetsComponentConfig uniqueName="fcc1">
                <Namespaces>
                  <namespace>/etc/tags/tutorial/interest</namespace>
                  <namespace>/etc/tags/tutorial/product</namespace>
                  <namespace>/etc/tags/tutorial/technology</namespace>
                </Namespaces>
                <HideFacets>True</HideFacets>
                <TypeOfSelection>CheckBoxes</TypeOfSelection>
              </FacetsComponentConfig>

            </objects>
          </ContextObjectItem>
          <DynamicContextObjectItem name="Dynamic items">
            <DynamicObjects>

              <TutorialCatalogComponentConfig uniqueName="tccc1">
                <TutorialCardPath>
                  <DynamicNode type="Context">GitRepositoryConfig.testRepo1.RemoteRepository</DynamicNode>
                </TutorialCardPath>
                <HideFacetsWithoutResults>True</HideFacetsWithoutResults>
                <ExternalSource>True</ExternalSource>
              </TutorialCatalogComponentConfig>

              <ContainerFinderComponentConfig uniqueName="cfcc1">
                <PagePaths>
                  <path>
                    <DynamicNode type="Context">AemPage.AutotestTutorialPage1.Path</DynamicNode>
                  </path>
                </PagePaths>
              </ContainerFinderComponentConfig>
              
            </DynamicObjects>
          </DynamicContextObjectItem>
        </contextItems>
      </context>

    </TestCase>

  </Tests>
</Project>