<?xml version="1.0" encoding="utf-8" ?>
<Project name="TutorialTests" description="Tests for Tutorial page">
  <context>

    <managers>
      <manager type="WebDriverManager">
        <Config>
          <FirefoxWebDriverConfig>
            <ProfileDirectoryPath>c:\tmp\ffprofiles</ProfileDirectoryPath>
          </FirefoxWebDriverConfig>
        </Config>
      </manager>
      <manager type="ApiManager"></manager>
      <manager type="GitHubTutorialManager">
        <Config>
          <GitHubTutorialManagerConfig>
            <TempFolderPath>c:\temp\tutorials</TempFolderPath>
          </GitHubTutorialManagerConfig>
        </Config>
      </manager>
      <manager type="GitManager">
        <Config>
          <GitManagerConfig>
            <Username>ksAutotests</Username>
            <Password>telepuzik1</Password>
            <Email>x1_test1@mail.ru</Email>
          </GitManagerConfig>
        </Config>
      </manager>
      <manager type="AemPageManager"></manager>
      <manager type="LoginPageManager"></manager>
      <manager type="TutorialCatalogPageManager"></manager>
      <manager type="InsertNewComponentFormManager"></manager>
    </managers>

    <contextItems>
      <ContextObjectItem name="LandScape configs">
        <objects>
          <LandscapeConfig uniqueName="LandscapeConfig">
            <AuthorHostUrl>http://10.7.14.16:4502</AuthorHostUrl>
            <PublisHostUrl>http://10.7.14.16:4502</PublisHostUrl>
          </LandscapeConfig>
        </objects>
      </ContextObjectItem>
    </contextItems>

  </context>

  <Steps>
    <TestStep name="CloneGitRepository" description="Clone Git repository">
      <manager>GitManager</manager>
      <command>Clone</command>
      <order>CasePre</order>
      <args>
        <arg type="Context">GitRepositoryConfig.TutorialRepo</arg>
      </args>
    </TestStep>
    <TestStep name="GenerateTutorial" description="Generate tutorial to local folder">
      <manager>GitHubTutorialManager</manager>
      <command>GenerateTutorialPage</command>
      <order>CasePre</order>
      <args>
        <arg type="Context">GitHubTutorial.Tutorial</arg>
      </args>
    </TestStep>
    <TestStep name="CopyTutorialToGitRepository" description="Copy tutorial from local folder to local git repository">
      <manager>GitHubTutorialManager</manager>
      <command>CopyToGitRepository</command>
      <order>CasePre</order>
      <args>
        <arg type="Context">GitHubTutorial.TutorialRepo</arg>
        <arg type="Context">GitRepositoryConfig.Tutorial</arg>
      </args>
    </TestStep>
    <TestStep name="UpdateRemoteRepo" description="Update remote Git repository">
      <manager>GitManager</manager>
      <command>CommitAndPushAll</command>
      <order>CasePre</order>
      <args>
        <arg type="Context">GitRepositoryConfig.TutorialRepo</arg>
        <arg type="Value">Commit git hub tutorial</arg>
      </args>
    </TestStep>
    <TestStep name="CreateAemTutorialPage" description="Create Tutorial page on Author">
      <manager>AemPageManager</manager>
      <command>CreatePage</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">ApiManager</arg>
        <arg type="Context">AemPage.AutotestTutorialPage</arg>
        <arg type="Context">LandscapeConfig.LandscapeConfig</arg>
      </args>
    </TestStep>
    <TestStep name="OpenCreatedPageOnAuthor" description="Open created tutorial page on Author">
      <manager>AemPageManager</manager>
      <command>OpenPageOnAuthor</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">WebDriverManager</arg>
        <arg type="Context">AemPage.AutotestTutorialPage</arg>
        <arg type="Context">LandscapeConfig.LandscapeConfig</arg>
      </args>
    </TestStep>
    
    <TestStep name="Login" description="Login to Aem">
      <manager>LoginPageManager</manager>
      <command>Login</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">WebDriverManager</arg>
        <arg type="Value">admin</arg>
        <arg type="Value">admin</arg>
      </args>
    </TestStep>

    <TestStep name="SetUpTutorialCatalogComponent" description="Setup TutorialCatalog component">
      <manager>TutorialCatalogPageManager</manager>
      <command>SetUpTutorialCatalog</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">WebDriverManager</arg>
        <arg type="Context">TutorialCatalogComponentConfig.TutorialCatalogComponentConfig</arg>
      </args>
    </TestStep>

    <TestStep name="AddContainerFinder" description="Add Container finder component to Tutorial Catalog page">
      <manager>TutorialCatalogPageManager</manager>
      <command>AddContainerFinderComponent</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">WebDriverManager</arg>
        <arg type="Manager">InsertNewComponentFormManager</arg>
      </args>
    </TestStep>
    <TestStep name="SetUpContainerFinder" description="Setup ContainerFinder component">
      <manager>TutorialCatalogPageManager</manager>
      <command>SetUpContainerFinder</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">WebDriverManager</arg>
        <arg type="Context">ContainerFinderComponentConfig.ContainerFinderComponentConfig</arg>
      </args>
    </TestStep>

    <TestStep name="AddFinderResults" description="Add Finder results component to Tutorial Catalog page">
      <manager>TutorialCatalogPageManager</manager>
      <command>AddFinderResultsComponent</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">WebDriverManager</arg>
        <arg type="Manager">InsertNewComponentFormManager</arg>
      </args>
    </TestStep>
    <TestStep name="SetUpFinderResults" description="Setup FinderResults component">
      <manager>TutorialCatalogPageManager</manager>
      <command>SetUpFinderResults</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">WebDriverManager</arg>
        <arg type="Context">FinderResultsComponentConfig.FinderResultsComponentConfig</arg>
      </args>
    </TestStep>

    <TestStep name="AddFacets" description="Add Facets component to Tutorial Catalog page">
      <manager>TutorialCatalogPageManager</manager>
      <command>AddFacetsComponent</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">WebDriverManager</arg>
        <arg type="Manager">InsertNewComponentFormManager</arg>
      </args>
    </TestStep>
    <TestStep name="SetUpFacets" description="Setup Facets component">
      <manager>TutorialCatalogPageManager</manager>
      <command>SetUpFacets</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">WebDriverManager</arg>
        <arg type="Context">FacetsComponentConfig.FacetsComponentConfig</arg>
      </args>
    </TestStep>

    <TestStep name="ActivatePage" description="Activate Tutorial page">
      <manager>AemPageManager</manager>
      <command>ActivatePage</command>
      <order>CasePre</order>
      <args>
        <arg type="Manager">ApiManager</arg>
        <arg type="Context">AemPage.AutotestTutorialPage</arg>
        <arg type="Context">LandscapeConfig.LandscapeConfig</arg>
      </args>
    </TestStep>
  </Steps>

  <Tests>

    <TestCase name="CreateSimpleTutorial" description="Create simple tutorial page">

      <context>
        <contextItems>
          <ContextObjectItem name="GitRepositories configs">
            <objects>
              <GitRepositoryConfig uniqueName="TutorialRepo">
                <RemoteRepository>https://github.com/ksAutotests/SimpleTutorial</RemoteRepository>
                <LocalRepository>c:\tmp\localgitrepo\SimpleTutorial</LocalRepository>
              </GitRepositoryConfig>
            </objects>
          </ContextObjectItem>
          <ContextObjectItem name="GitHubTutorials config">
            <objects>
              <GitHubTutorial UniqueName="Tutorial">

                <Folder>tutorials</Folder>

                <GitHubTutorialItems>

                  <GitHubTutorialItem>
                    <FolderName>SimpleTutorials</FolderName>
                    <GitHubTutorialFiles>
                      <GitHubTutorialFile>
                        <Name>SimpleTutorial1</Name>
                        <Title>SimpleTutorial1 Title</Title>
                        <Description>SimpleTutorial1 Description</Description>
                        <Tags>
                          <tag>tag1</tag>
                          <tag>tag2</tag>
                          <tag>tag3</tag>
                        </Tags>
                        <Content>SimpleTutorial1 Content</Content>
                      </GitHubTutorialFile>
                      <GitHubTutorialFile>
                        <Name>SimpleTutorial2</Name>
                        <Title>SimpleTutorial2 Title</Title>
                        <Description>SimpleTutorial2 Description</Description>
                        <Tags>
                          <tag>tag1</tag>
                          <tag>tag2</tag>
                          <tag>tag3</tag>
                        </Tags>
                        <Content>SimpleTutorial2 Content</Content>
                      </GitHubTutorialFile>
                    </GitHubTutorialFiles>
                  </GitHubTutorialItem>

                </GitHubTutorialItems>

              </GitHubTutorial>
            </objects>
          </ContextObjectItem>
          <DynamicContextObjectItem name="AemPages configs">
            <DynamicObjects>
              <AemPage uniqueName="AutotestTutorialPage">
                <title>
                  <DynamicNode>
                    <Node>
                      <ComplexNode>
                        <Nodes>
                          <ValueNode>AutoTestTutorialTry_</ValueNode>
                          <GenerationNode>
                            <Generator>
                              <StringGenerator></StringGenerator>
                            </Generator>
                          </GenerationNode>
                        </Nodes>
                      </ComplexNode>
                    </Node>
                  </DynamicNode>
                </title>
                <parentPath>/content/sapdx/website/languages/en/developer</parentPath>
                <template>/apps/sapdx/templates/tutorial/tutorialPage</template>
              </AemPage>
            </DynamicObjects>
          </DynamicContextObjectItem>
          <ContextObjectItem name="Components configs">
            <objects>

              <FinderResultsComponentConfig uniqueName="FinderResultsComponentConfig">
                <Pagination>5</Pagination>
                <ShowDescription>True</ShowDescription>
                <DefaultDocumentIcon>/content/dam/application/shared/icons/finder</DefaultDocumentIcon>
                <DefaultPageIcon>/content/dam/application/shared/icons/icon_gold_document_nopadding.svg</DefaultPageIcon>
                <DefaultVideotIcon>/content/dam/application/shared/icons/finder</DefaultVideotIcon>
                <AlphabeticalSorting>Both</AlphabeticalSorting>
                <SortingByDate>Both</SortingByDate>
              </FinderResultsComponentConfig>

              <FacetsComponentConfig uniqueName="FacetsComponentConfig">
                <Namespaces>
                  <namespace>/etc/tags/tutorial/interest</namespace>
                  <namespace>/etc/tags/tutorial/product</namespace>
                  <namespace>/etc/tags/tutorial/technology</namespace>
                </Namespaces>
                <HideFacets>True</HideFacets>
                <TypeOfSelection>CheckBoxes</TypeOfSelection>
              </FacetsComponentConfig>

            </objects>
          </ContextObjectItem>
          <DynamicContextObjectItem name="Dynamic items">
            <DynamicObjects>

              <TutorialCatalogComponentConfig uniqueName="TutorialCatalogComponentConfig">
                <TutorialCardPath>
                  <DynamicNode>
                    <Node>
                      <ContextValueNode value="GitRepositoryConfig.testRepo1.RemoteRepository"></ContextValueNode>
                    </Node>
                  </DynamicNode>
                </TutorialCardPath>
                <HideFacetsWithoutResults>True</HideFacetsWithoutResults>
                <ExternalSource>True</ExternalSource>
              </TutorialCatalogComponentConfig>

              <ContainerFinderComponentConfig uniqueName="ContainerFinderComponentConfig">
                <PagePaths>
                  <path>
                    <DynamicNode>
                      <Node>
                        <ContextValueNode value="AemPage.AutotestTutorialPage.Path"></ContextValueNode>
                      </Node>
                    </DynamicNode>
                  </path>
                </PagePaths>
              </ContainerFinderComponentConfig>

            </DynamicObjects>
          </DynamicContextObjectItem>
        </contextItems>
      </context>

    </TestCase>

    <TestCase name="CreateTutorialWithoutDescription" description="Create tutorial page with tutorial without description">

      <context>
        <contextItems>
          <ContextObjectItem name="GitRepositories configs">
            <objects>
              <GitRepositoryConfig uniqueName="TutorialRepo">
                <RemoteRepository>https://github.com/ksAutotests/TutorialTest</RemoteRepository>
                <LocalRepository>c:\tmp\localgitrepo</LocalRepository>
              </GitRepositoryConfig>
            </objects>
          </ContextObjectItem>
          <ContextObjectItem name="GitHubTutorials config">
            <objects>
              <GitHubTutorial UniqueName="Tutorial">

                <Folder>tutorials</Folder>

                <GitHubTutorialItems>

                  <GitHubTutorialItem>
                    <FolderName>tutorial1</FolderName>
                    <GitHubTutorialFiles>
                      <GitHubTutorialFile>
                        <Name>tutorial1test1</Name>
                        <Title>Some_tutorial1test1_Title</Title>
                        <Description>Some tutorial1test1 description</Description>
                        <Tags>
                          <tag>tag1</tag>
                          <tag>tag2</tag>
                          <tag>tag3</tag>
                        </Tags>
                        <Content>Some tutorial1test1 content</Content>
                      </GitHubTutorialFile>
                      <GitHubTutorialFile>
                        <Name>tutorial1tes2</Name>
                        <Title>Some_tutorial1tes2_Title</Title>
                        <Description>Some tutorial1tes2 description</Description>
                        <Tags>
                          <tag>tag1</tag>
                          <tag>tag2</tag>
                          <tag>tag3</tag>
                        </Tags>
                        <Content>Some tutorial1tes2 content</Content>
                      </GitHubTutorialFile>
                    </GitHubTutorialFiles>
                  </GitHubTutorialItem>

                  <GitHubTutorialItem>
                    <FolderName>tutorial2</FolderName>
                    <GitHubTutorialFiles>
                      <GitHubTutorialFile>
                        <Name>tutorial2test1</Name>
                        <Title>Some_tutorial2test1_Title</Title>
                        <Description>Some tutorial2test1 description</Description>
                        <Tags>
                          <tag>tag1</tag>
                          <tag>tag2</tag>
                          <tag>tag3</tag>
                        </Tags>
                        <Content>Some tutorial2test1 content</Content>
                      </GitHubTutorialFile>
                      <GitHubTutorialFile>
                        <Name>tutorial2tes2</Name>
                        <Title>Some_tutorial2tes2_Title</Title>
                        <Description>Some tutorial2tes2 description</Description>
                        <Tags>
                          <tag>tag1</tag>
                          <tag>tag2</tag>
                          <tag>tag3</tag>
                        </Tags>
                        <Content>Some tutorial2tes2 content</Content>
                      </GitHubTutorialFile>
                    </GitHubTutorialFiles>
                  </GitHubTutorialItem>

                </GitHubTutorialItems>

              </GitHubTutorial>
            </objects>
          </ContextObjectItem>
          <ContextObjectItem name="AemPages configs">
            <objects>
              <AemPage uniqueName="AutotestTutorialPage">
                <title>KsAutoTestTutorialTry</title>
                <parentPath>/content/sapdx/website/languages/en/developer</parentPath>
                <template>/apps/sapdx/templates/tutorial/tutorialPage</template>
              </AemPage>
            </objects>
          </ContextObjectItem>
          <ContextObjectItem name="Components configs">
            <objects>

              <FinderResultsComponentConfig uniqueName="FinderResultsComponentConfig">
                <Pagination>5</Pagination>
                <ShowDescription>True</ShowDescription>
                <DefaultDocumentIcon>/content/dam/application/shared/icons/finder</DefaultDocumentIcon>
                <DefaultPageIcon>/content/dam/application/shared/icons/icon_gold_document_nopadding.svg</DefaultPageIcon>
                <DefaultVideotIcon>/content/dam/application/shared/icons/finder</DefaultVideotIcon>
                <AlphabeticalSorting>Both</AlphabeticalSorting>
                <SortingByDate>Both</SortingByDate>
              </FinderResultsComponentConfig>

              <FacetsComponentConfig uniqueName="FacetsComponentConfig">
                <Namespaces>
                  <namespace>/etc/tags/tutorial/interest</namespace>
                  <namespace>/etc/tags/tutorial/product</namespace>
                  <namespace>/etc/tags/tutorial/technology</namespace>
                </Namespaces>
                <HideFacets>True</HideFacets>
                <TypeOfSelection>CheckBoxes</TypeOfSelection>
              </FacetsComponentConfig>

            </objects>
          </ContextObjectItem>
          <DynamicContextObjectItem name="Dynamic items">
            <DynamicObjects>

              <TutorialCatalogComponentConfig uniqueName="TutorialCatalogComponentConfig">
                <TutorialCardPath>
                  <DynamicNode type="Context">GitRepositoryConfig.testRepo1.RemoteRepository</DynamicNode>
                </TutorialCardPath>
                <HideFacetsWithoutResults>True</HideFacetsWithoutResults>
                <ExternalSource>True</ExternalSource>
              </TutorialCatalogComponentConfig>

              <ContainerFinderComponentConfig uniqueName="ContainerFinderComponentConfig">
                <PagePaths>
                  <path>
                    <DynamicNode type="Context">AemPage.AutotestTutorialPage.Path</DynamicNode>
                  </path>
                </PagePaths>
              </ContainerFinderComponentConfig>

            </DynamicObjects>
          </DynamicContextObjectItem>
        </contextItems>
      </context>

    </TestCase>

  </Tests>
</Project>