<?xml version="1.0" encoding="utf-8" ?>
<Project name="TutorialTests" description="Tests for Tutorial page">
  <context>

    <managers>
      <manager type="WebDriverManager">
        <Config>
          <FirefoxWebDriverConfig>
            <ProfileDirectoryPath>c:\tmp\ffprofiles</ProfileDirectoryPath>
          </FirefoxWebDriverConfig>
        </Config>
      </manager>
      <manager type="ApiManager">
        <Config>
          <ApiManagerConfig>
            <username>admin</username>
            <password>admin</password>
          </ApiManagerConfig>
        </Config>
      </manager>
      <manager type="GitHubTutorialManager">
        <Config>
          <GitHubTutorialManagerConfig>
            <TempFolderPath>c:\temp\tutorials</TempFolderPath>
          </GitHubTutorialManagerConfig>
        </Config>
      </manager>
      <manager type="GitManager">
        <Config>
          <GitManagerConfig>
            <Username>ksAutotests</Username>
            <Password>telepuzik1</Password>
            <Email>x1_test1@mail.ru</Email>
          </GitManagerConfig>
        </Config>
      </manager>
      <manager type="AemPageManager"></manager>
      <manager type="LoginPageManager"></manager>
      <manager type="TutorialCatalogPageManager"></manager>
      <manager type="InsertNewComponentFormManager"></manager>
    </managers>

    <contextItems>
      <objectContextItem>
        <object>
          <LandscapeConfig uniqueName="Test1">
            <AuthorHostUrl>http://10.7.14.16:4502</AuthorHostUrl>
            <PublisHostUrl>http://10.7.14.16:4502</PublisHostUrl>
          </LandscapeConfig>
        </object>
      </objectContextItem>
      <objectContextItem>
        <object>
          <GitRepositoryConfig uniqueName="testRepo1">
            <RemoteRepository>https://github.com/ksAutotests/TutorialTest.git</RemoteRepository>
            <LocalRepository>c:\tmp\localgitrepo</LocalRepository>
          </GitRepositoryConfig>
        </object>
      </objectContextItem>

    </contextItems>

  </context>
  <Tests>

    <Test name="CreateTuturial" description="Create tutorial page">

      <context>
        <contextItems>
          <objectContextItem>
            <object>
              <GitHubTutorial UniqueName="testTutorial1">

                <Folder>tutorials</Folder>

                <GitHubTutorialItems>

                  <GitHubTutorialItem>
                    <FolderName>tutorial1</FolderName>
                    <GitHubTutorialFiles>
                      <GitHubTutorialFile>
                        <Name>tutorial1test1</Name>
                        <Title>Some_tutorial1test1_Title</Title>
                        <Description>Some tutorial1test1 description</Description>
                        <Tags>
                          <tag>tag1</tag>
                          <tag>tag2</tag>
                          <tag>tag3</tag>
                        </Tags>
                        <Content>Some tutorial1test1 content</Content>
                      </GitHubTutorialFile>
                      <GitHubTutorialFile>
                        <Name>tutorial1tes2</Name>
                        <Title>Some_tutorial1tes2_Title</Title>
                        <Description>Some tutorial1tes2 description</Description>
                        <Tags>
                          <tag>tag1</tag>
                          <tag>tag2</tag>
                          <tag>tag3</tag>
                        </Tags>
                        <Content>Some tutorial1tes2 content</Content>
                      </GitHubTutorialFile>
                    </GitHubTutorialFiles>
                  </GitHubTutorialItem>

                  <GitHubTutorialItem>
                    <FolderName>tutorial2</FolderName>
                    <GitHubTutorialFiles>
                      <GitHubTutorialFile>
                        <Name>tutorial2test1</Name>
                        <Title>Some_tutorial2test1_Title</Title>
                        <Description>Some tutorial2test1 description</Description>
                        <Tags>
                          <tag>tag1</tag>
                          <tag>tag2</tag>
                          <tag>tag3</tag>
                        </Tags>
                        <Content>Some tutorial2test1 content</Content>
                      </GitHubTutorialFile>
                      <GitHubTutorialFile>
                        <Name>tutorial2tes2</Name>
                        <Title>Some_tutorial2tes2_Title</Title>
                        <Description>Some tutorial2tes2 description</Description>
                        <Tags>
                          <tag>tag1</tag>
                          <tag>tag2</tag>
                          <tag>tag3</tag>
                        </Tags>
                        <Content>Some tutorial2tes2 content</Content>
                      </GitHubTutorialFile>
                    </GitHubTutorialFiles>
                  </GitHubTutorialItem>

                </GitHubTutorialItems>

              </GitHubTutorial>

            </object>
          </objectContextItem>
          <objectContextItem>
            <object>
              <AemPage uniqueName="AutotestTutorialPage1">
                <title>AutoTestTutorialTry</title>
                <parentPath>/content/sapdx/website/languages/en/developer</parentPath>
                <template>/apps/sapdx/templates/tutorial/tutorialPage</template>
              </AemPage>
            </object>
          </objectContextItem>
          <objectContextItem>
            <object>
              <TutorialCatalogComponentConfig uniqueName="tccc1">
                <TutorialCardPath>https://github.com/ksAutotests/TutorialTest</TutorialCardPath>
                <HideFacetsWithoutResults>True</HideFacetsWithoutResults>
                <ExternalSource>True</ExternalSource>
              </TutorialCatalogComponentConfig>
            </object>
          </objectContextItem>
          <objectContextItem>
            <object>
              <ContainerFinderComponentConfig uniqueName="cfcc1">
                <PagePaths>
                  <path>/content/sapdx/website/languages/en/developer/autotesttutorialtry</path>
                </PagePaths>
              </ContainerFinderComponentConfig>
            </object>
          </objectContextItem>
          <objectContextItem>
            <object>
              <FinderResultsComponentConfig uniqueName="frcc1">
                <Pagination>5</Pagination>
                <ShowDescription>True</ShowDescription>
                <DefaultDocumentIcon>/content/dam/application/shared/icons/finder</DefaultDocumentIcon>
                <DefaultPageIcon>/content/dam/application/shared/icons/icon_gold_document_nopadding.svg</DefaultPageIcon>
                <DefaultVideotIcon>/content/dam/application/shared/icons/finder</DefaultVideotIcon>
                <AlphabeticalSorting>Both</AlphabeticalSorting>
                <SortingByDate>Both</SortingByDate>
              </FinderResultsComponentConfig>
            </object>
          </objectContextItem>
          <objectContextItem>
            <object>
              <FacetsComponentConfig uniqueName="fcc1">
                <Namespaces>
                  <namespace>/etc/tags/tutorial/interest</namespace>
                  <namespace>/etc/tags/tutorial/product</namespace>
                  <namespace>/etc/tags/tutorial/technology</namespace>
                </Namespaces>
                <HideFacets>True</HideFacets>
                <TypeOfSelection>CheckBoxes</TypeOfSelection>
              </FacetsComponentConfig>
            </object>
          </objectContextItem>
        </contextItems>
      </context>

      <Steps>

        <step name="CloneGitRepo" description="Clone Git repository">{GitManager} {Clone} ${GitRepositoryConfig.testRepo1}</step>

        <step name="GenerateTutorial" description="Generate tutorial to local folder">{GitHubTutorialManager} {GenerateTutorialPage} ${GitHubTutorial.testTutorial1}</step>
        <step name="CopyTutorialToGitRepository" description="Copy tutorial from local folder to local git repository">{GitHubTutorialManager} {CopyToGitRepository} ${GitHubTutorial.testTutorial1} ${GitRepositoryConfig.testRepo1}</step>

        <step name="UpdateRemoteRepo" description="Update remote Git repository">{GitManager} {CommitAndPushAll} ${GitRepositoryConfig.testRepo1} {Commit git hub tutorial}</step>

        <step  name="CreateAemTutorialPage" description="Create Tutorial page on Author">{AemPageManager} {CreatePage} ${Manager.ApiManager} ${AemPage.AutotestTutorialPage1} ${LandscapeConfig.Test1.AuthorHostUrl}</step>

        <step name="OpenCreatedPage" description="Open created tutorial page">{WebDriverManager} {Navigate} ${Step.CreateAemTutorialPage}</step>
        <step name="Login" description="Login to Aem" tryCount="2">{LoginPageManager} {Login} ${Manager.WebDriverManager} {admin} {admin}</step>

        <step name="SetUpTutorialCatalogComponent" description="Setup TutorialCatalog component">{TutorialCatalogPageManager} {SetUpTutorialCatalog} ${Manager.WebDriverManager} ${TutorialCatalogComponentConfig.tccc1}</step>

        <step name="AddContainerFinder" description="">{TutorialCatalogPageManager} {AddContainerFinderComponent} ${Manager.WebDriverManager} ${Manager.InsertNewComponentFormManager}</step>
        <step name="SetUpContainerFinder" description="Setup ContainerFinder component">{TutorialCatalogPageManager} {SetUpContainerFinder} ${Manager.WebDriverManager} ${ContainerFinderComponentConfig.cfcc1}</step>

        <step name="AddFinderResults" description="">{TutorialCatalogPageManager} {AddFinderResultsComponent} ${Manager.WebDriverManager} ${Manager.InsertNewComponentFormManager}</step>
        <step name="SetUpFinderResults" description="Setup FinderResults component">{TutorialCatalogPageManager} {SetUpFinderResults} ${Manager.WebDriverManager} ${FinderResultsComponentConfig.frcc1}</step>

        <step name="AddFacets" description="">{TutorialCatalogPageManager} {AddFacetsComponent} ${Manager.WebDriverManager} ${Manager.InsertNewComponentFormManager}</step>
        <step name="SetUpFacets" description="Setup Facets component">{TutorialCatalogPageManager} {SetUpFacets} ${Manager.WebDriverManager} ${FacetsComponentConfig.fcc1}</step>

        <step  name="ActivatePage" description="Activate Tutorial page">{AemPageManager} {ActivatePage} ${Manager.ApiManager} ${AemPage.AutotestTutorialPage1} ${LandscapeConfig.Test1.AuthorHostUrl}</step>
      </Steps>

    </Test>

  </Tests>
</Project>